@font-face {
  font-family: "iconfont"; /* Project id 1665021 */
  src: url('iconfont.woff2?t=1624348195687') format('woff2'),
       url('iconfont.woff?t=1624348195687') format('woff'),
       url('iconfont.ttf?t=1624348195687') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chat:before {
  content: "\e692";
}

.icon-ppt:before {
  content: "\e600";
}

.icon-word:before {
  content: "\e601";
}

.icon-excel:before {
  content: "\e61d";
}

.icon-folder:before {
  content: "\e62b";
}

.icon-speak:before {
  content: "\e69c";
}

.icon-keyboard:before {
  content: "\e65b";
}

.icon-file:before {
  content: "\e625";
}

.icon-zip:before {
  content: "\e6c4";
}

.icon-desktopshare:before {
  content: "\e72e";
}

.icon-voice:before {
  content: "\e6a7";
}

.icon-speaking:before {
  content: "\e61c";
}

.icon-close:before {
  content: "\e673";
}

.icon-record_off:before {
  content: "\e67b";
}

.icon-record_on:before {
  content: "\e67c";
}

.icon-camera-switch:before {
  content: "\e67d";
}

.icon-conference:before {
  content: "\e681";
}

.icon-mic:before {
  content: "\e675";
}

.icon-video:before {
  content: "\e648";
}

